1.	Write a Python function that takes a list and returns a new list with distinct elements from the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [2]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu

def unique(list1):
    list_set = set(list1)
    unique_list = list(list_set)
    return unique_list

sample_list2 = [1, 2, 3, 3, 3, 3, 4, 5]
unique_result2 = set(sample_list2)
unique_list2 = list(unique_result2)
print("Unique List (Set Method):", unique_list2)

Unique List (Set Method): [1, 2, 3, 4, 5]

2.	Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

In [3]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu

def prime(number):
  if number > 1:
    for i in range (2, number):
      if (number%i) == 0:
        return False
    return True
  else:
    return False

num = int(input("enter the nummer: "))
if prime(num):
  print(f"{num} is prime number")
else:
  print(f"{num} is not prime number")

12 is not prime number

3.	Write a program to print twin primes less than 1000. If two consecutive odd numbers are both prime then they are known as twin primes.

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu
def prime(num):
  if num == 0:
    return False
  elif num == 1:
    return False
  for i in range(2, num):
    if num%i == 0:
      return False
  return True

def twin_primes(limit):
  count=[]
  for i in range(1,limit):
    if prime(i) and prime(i+2):
      count.append((i, i+2))
  return count

limit = 1000
result = twin_primes(limit)
print(result)

[(3, 5), (5, 7), (11, 13), (17, 19), (29, 31), (41, 43), (59, 61), (71, 73), (101, 103), (107, 109), (137, 139), (149, 151), (179, 181), (191, 193), (197, 199), (227, 229), (239, 241), (269, 271), (281, 283), (311, 313), (347, 349), (419, 421), (431, 433), (461, 463), (521, 523), (569, 571), (599, 601), (617, 619), (641, 643), (659, 661), (809, 811), (821, 823), (827, 829), (857, 859), (881, 883)]

4.	A positive integer is called a perfect number if it is equal to the sum of all of its divisors, including 1 but excluding the number itself. For example, 6 = 1 + 2 + 3. Write a function sumOfDivisors that takes a positive integer n and returns the sum of all its divisors (excluding n).

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu

def sumOfDivisors(n):
  div = 0
  for i in range(1,n):
    if n%i==0:
      div += i
  return div
n = int(input("Enter the number: "))
result = sumOfDivisors(n)
print(f"The sum of dividors for {n} is {result}")

Enter the number: 9
The sum of dividors for 9 is 4

5. The smallest perfect number is 6. Write a program that finds and prints out the next perfect number. Hint:
You should be able your sumOfDiviors function from your solution to previous question.

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu

def next_perfect_number(n0):
  n = n0 + 1
  while True:
    if sumOfDivisors(n) == n:
      return n
    n += 1
next_num = next_perfect_number(6)
print(f"The next perfect number is: {next_num}")

The next perfect number is: 28

In [ ]:


#University_id=2408059
#Student_name=Dipesh Mahato Tharu

In [ ]:
#using kwarks(**)
def capital(**kwargs):
  for (key,values) in kwargs.items():
    print(key, "->", values)
  print(kwargs)

capital(nepal="ktm",india="delhi",china="beijing")

nepal -> ktm
india -> delhi
china -> beijing
{'nepal': 'ktm', 'india': 'delhi', 'china': 'beijing'}


 6.	Write the python program to find the mean median from the following list:
Marks = [20, 30, 35, 55, 70, 80, 90] Do not use the library function if there is one.

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu

7.	Write a function that converts a decimal number to binary number.

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu
def decimal_to_binary(decimal_number):
  if decimal_number == 0:
    return "0"

  binary_result = ""
  while decimal_number > 0:
    binary_result = str(decimal_number%2)+binary_result
    decimal_number //=2

  return binary_result
n = int(input("Enter the decimal number: "))
binary_result = decimal_to_binary(n)
print(f"The binary reprsentation of {n} is: {binary_result}")

Enter the decimal number: 34
The binary reprsentation of 34 is: 100010

8.	Write a function prodDigits() that inputs a number and returns the product of digits of that number.

In [ ]:
#University_id=2408059
#Student_name=Dipesh Mahato Tharu
def prodDigits(number):
  product = 1
  while number > 0:
    product *= number%10
    number //= 10
  return product
n = int(input("enter a number: "))
result=prodDigits(n)
print(f"The products of the digits of {n} is: {result}")

enter a number: 321
The products of the digits of 321 is: 6

In [ ]:
#using args (*)
def sum(*args):
  count = 0
  for i in args:
    count +=i
  print(args)
  return count

sum(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

36